
 *{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    margin: 0 auto;
}

main {
    display: flex;
    /* Forces elements to the next line if they don't fit */
    flex-wrap: wrap;
    margin-top: 2%;
}

#pic {
    
    width: 300px;
    height: 100px;
    
}

/* About Me */
#aboutme {
    font-size: 24px;
  }
    
#img{
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

/* CSS styles for tablets and under devices */
@media (max-width: 768px) {
    .grid,
    .showcase .grid,
    .stats .grid,
    .cli .grid,
    .cloud .grid,
    .features-main .grid,
    .docs-main .grid {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      width: 100%;
    
.showcase {
    height: auto;
}
}

/* Mobile devices*/
@media(max-width: 80%) {
    .navbar{
        height: 80%px
    }

    .navbar .flex {
        flex-direction: column;
        width: 100%;  
     navbar ul {
        padding: 10px
     }
    }

    .google-docs-embed {
        width: 100%;
        height: auto;
    }
}
}